<html>
<head>
    <script style="text/javascript" src="../static/jquery.min.js"></script>
    <script style="text/javascript" src="../static/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="col-1">
      <h2>{{Process.name}}</h2>
  </div>
  <div class="col-11">
      <div id="svgWithInnerHtml">

      </div>
  </div>
</div>
<script type="text/javascript">
    var activity = "";

    function decode_utf8(s) {
      return decodeURIComponent(escape(s));
    }

    function fillMainView() {
        var pview = atob('{{ Process.model_view }}');
        console.log(pview);
        document.getElementById("svgWithInnerHtml").innerHTML = pview;
        document.getElementById("svgWithInnerHtml").addEventListener("click", click_listener);
    }

    function click_listener(event) {
        console.log(event.target.nodeName);
        if (event.target.nodeName == "text") {
            let thisText = event.target.innerHTML;
             if (thisText.length > 0) {
                console.log(thisText);
             }
        }
    }

    fillMainView();
</script>
</body>
</html>

